* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to top right, #ff9191, #ffb175);
}

.container {
  background-color: rgba(255, 255, 255, 0.3);
  margin: auto;
  padding: 50px 30px;
  border-radius: 30px;

  letter-spacing: 5px;

  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.container h2 {
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 0.2px black;
  text-align: center;
}

.stars {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.stars i {
  color: #fff;
  font-size: 25px;
  align-items: center;
  justify-content: space-evenly;
  text-shadow: 1px 1px 0.2px black;
  cursor: pointer;
}
.active {
  color: #ffb175 !important;
  transform: scale(1.2) !important;
}
@media screen and (max-width: 400px) {
  .container {
    width: 80%;
    letter-spacing: 2px;
  }
}
